<h1>Books</h1>
<% @book.each do |book| %>


<h5>Title<h5>
<%= book.title %>
<h5>Body<h5>
 <%= book.body %>

<%= link_to "show", book_path(book.id) %>
<%= link_to "edit", edit_book_path(book.id) %>
<%= link_to "destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

<% end %>
